@import "bootstrap";
@import "font-awesome";

.flat-ui {
  @import "flat-ui";
}

body {
  padding-top: 50px;
  font-size: 14px;
}

// Color variables
$ex-color-navbar: #563D7C;
$ex-color-header: #E2D7F1;
$ex-color-deeper: #E2D7F1;
$ex-color-sidebar: #F3EFFA;
$ex-color-bar: #463265;

// New theme
// $ex-color-navbar: rgba(47,47,47,0.98);
// $ex-color-header: rgba(0,0,0,0.1);
// $ex-color-deeper: rgba(0,0,0,0.17);
// $ex-color-sidebar: rgba(0,0,0,0.07);
// $ex-color-bar: rgba(39,39,39,0.98);

.login {

  .panel-body {
    padding: 5px !important;
    color: #34495E;
  }

  .panel-title {
    font-weight: bold;
  }

  .login-header {
    text-align: center;
    background-color: $ex-color-header !important;
  }

  .login-icon {
    left: 40px;
    position: absolute;
    top: 30px;
    width: 115px;
  }

  .login-screen {
    background: transparent;
    min-height: 245px;
    padding: 30px 20px 33px 156px;
  }

  .login-form {
    background: rgba(0, 0, 0, 0.07);

    legend {
      font-size: 16px;
      color: #34495E;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  .login-form:before {
    border-right-color: rgba(0, 0, 0, 0.07);
  }
}

.dropdown-menu > li > a {
  padding: 3px 15px;
}

.login-box-margin {
  margin-top: 160px;
}

.ex-modal {
  display: block;
  width:600px;
  height:300px;
  top: 120px;
  font-size: 12pt;
  overflow-y: hidden !important;

  .modal-header {
    background-color: $ex-color-header;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    
    .close {
      margin-top: -5px;
    }
    
    button {
      font-size: 30px;
    }
  }
  
  .modal-body {
    height: 100%;
    max-height: 190px;
  }

  .modal-footer {
    .btn {
      width: 100px
    }
  }
}

.modal-content {
  border: 0px;
}

.pagination, .pager {
  margin-top: 0px;
  margin-bottom: 10px;
}

.container {
  width: auto;

  .navbar-header {
    width: auto;
  }

  .navbar-nav {
    font-size: 14px;
  }
}

.left-box {
  padding-right: 5px;
}

.right-box {
  padding-left: 5px;
}

.ex-grid, .ex-form {
  margin-top: 10px;

  .form-control[disabled], .select2-container.select2-container-disabled .select2-choice, .select2-container.select2-container-disabled .select2-choices {
    cursor: not-allowed;
    background-color: #fafafa;
  }
  
  table thead th {
    background-color: #E2D7F1;
  }
}

.ex-grid {
  font-size: 12px;
  
  input[type="radio"], input[type="checkbox"] {
    margin: 0px 0 0;
  }

  .table {
    margin-bottom: 10px;
    background-color: white;
    font-size: 13px;
  }
}

.ex-form {
  border: 2px solid $ex-color-header;
  border-radius: 0px;

  .form-group, .ex-array {
    padding-left: 5px;
    padding-right: 5px;
  }

  .has-switch {
    min-width: 70px;
    width: 70px;
  }

  .panel-heading {
    padding: 10px;
    .close {
      margin-top: -3px;
    }
  }

  .panel-heading, .panel-footer {
    background-color: $ex-color-header;
    border-color: $ex-color-header;
    color: black;
    border-radius: 0px;
  }

  .panel-body {
    padding: 10px 5px 0px 5px;
  }
  .panel-footer {
    padding: 5px 10px;
  }
}

.nav-h {
  height: 50px
}

.ex-nav {
  background-color: $ex-color-navbar;
  border-color: $ex-color-bar;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);

  .navbar-nav > .active > a {
    background-color: $ex-color-bar !important;
  }

  .navbar-nav > li > a:hover {
    color: #fff;
  }
}

.table-bordered thead th {
  background-color: $ex-color-header;
}

.grid-action-1 {
  width: 26px;
}

.grid-action-2 {
  width: 52px;
}

.grid-action-3 {
  width: 89px;
}

.sidebar-a, .sidebar-b, .sidebar-c {
  margin-left: -15px;
  padding: 10px 0px 0px 0px;
  height: 100%;
  position: fixed;
  background-color: $ex-color-sidebar;

  ul {
    text-align: center;
    li a {
      border-radius: 0px;
      color: #0A3872;
    }
    
    li a span {
      color: #3F6883;
    }

    li.active a {
      color: white;
      background-color: $ex-color-header;
    }

    li.active:before {
      content: "";
      border-style: solid;
      border-width: 10px 8px 10px 0;
      border-color: transparent $ex-color-deeper transparent transparent;
      position: absolute;
      -webkit-transform: rotate(180deg);
    }
  }

}

.sidebar-a {
  padding-left: 5px;
  padding-right: 5px;
  width: 250px;

  ul {
    text-align: left;
    li a {
      border-radius: 4px;
    }

    li.active a {
      color: black;
      background-color: white;
    }

    li.active:before {
      border-color: transparent white transparent transparent;
      right: -13px;
      top: 12px;
    }
  }

  .fa, .glyphicon {
    font-size: 1.5em;
  }
}

.sidebar-b {
  width: 100px;

  ul {
    li.active:before {
      right: -8px;
      top: 34px;
    }
  }

  .fa, .glyphicon {
    font-size: 3em;
  }
}

.sidebar-c {
  width: 150px;

  ul {
    li.active:before {
      right: -8px;
      top: 22px;
    }
  }

  .fa, .glyphicon {
    font-size: 2em;
  }

  .nav > li > a {
    padding: 5px 15px;
  }
}

.content-a, .content-b, .content-c {
  padding: 0px;

  .content-header {
    border-bottom: 2px solid $ex-color-header;

    .btn, h3 {
      margin-top: 10px;
    }
  }
}

.content-a {
  margin-left: 250px;
}

.content-b {
  margin-left: 100px;
}

.content-c {
  margin-left: 150px;
}

.link-text {
  text-align: left;
}

.alert .glyphicon {
  color: black;
}

.ex-search-remove {
  color: black;
}

/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
margin: 10px 0;
padding: 10px;
border-left: 5px solid #eee;
}
.bs-callout h1,
.bs-callout h2,
.bs-callout h3,
.bs-callout h4,
.bs-callout h5,
.bs-callout h6 {
margin-top: 0;
}

.bs-callout-danger h1,
.bs-callout-danger h2,
.bs-callout-danger h3,
.bs-callout-danger h4,
.bs-callout-danger h5,
.bs-callout-danger h6 {
color: #B94A48;
}

.bs-callout-warning h1,
.bs-callout-warning h2,
.bs-callout-warning h3,
.bs-callout-warning h4,
.bs-callout-warning h5,
.bs-callout-warning h6 {
color: #C09853;
}

.bs-callout-info h1,
.bs-callout-info h2,
.bs-callout-info h3,
.bs-callout-info h4,
.bs-callout-info h5,
.bs-callout-info h6 {
color: #3A87AD;
}

.bs-callout-success h1,
.bs-callout-success h2,
.bs-callout-success h3,
.bs-callout-success h4,
.bs-callout-success h5,
.bs-callout-success h6 {
color: #3C763D;
}

.bs-callout p:last-child {
margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
background-color: #fcf2f2;
border-color: #dFb5b4;
}
.bs-callout-warning {
background-color: #fefbed;
border-color: #f1e7bc;
}
.bs-callout-info {
background-color: #f0f7fd;
border-color: #d0e3f0;
}
.bs-callout-success {
background-color: #dff0d8;
// border-color: #d6e9c6;
border-color: #c2dfa9;
}

// Stylish breadcrumbs
.wizard a {
  padding: 10px 12px 10px;
  margin-right: 5px;
  background: #efefef;
  position: relative;
  display: inline-block;
}
.wizard a:before {
  width: 0;
  height: 0;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #fff;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
.wizard a:after {
  width: 0;
  height: 0;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #efefef;
  position: absolute;
  content: "";
  top: 0;
  right: -20px;
  z-index: 2;
}
.wizard a:first-child:before,
.wizard a:last-child:after {
  border: none;
}
.wizard a:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.wizard a:last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.wizard .badge {
  margin: 0 5px 0 18px;
  position: relative;
  top: -1px;
}
.wizard a:first-child .badge {
  margin-left: 0;
}
.wizard .current {
  background: #007ACC;
  color: #fff;
}
.wizard .current:after {
  border-left-color: #007ACC;
}


// Themes
.theme-ashly {
  background: #f0f0f0 url(/images/background.jpg) repeat -70% 0;

  .ex-modal {
    .modal-header {
      background-color: rgba(0,0,0,0.1);
    }
  }

  .ex-form {
    border-color: rgba(0,0,0,0.1);
    .panel-heading, .panel-footer {
      background-color: rgba(0,0,0,0.1);
      border-color: rgba(0,0,0,0.1);
    }
  }

  .ex-grid, .ex-form {
    table thead th {
      background-color: rgba(0,0,0,0.1);
    }
  }

  .ex-nav {
    background-color: rgba(47,47,47,0.98);
    border-color: rgba(39,39,39,0.98);

    .navbar-nav > .active > a {
      background-color: rgba(39,39,39,0.98) !important;
    }
  }

  .table-bordered thead th {
    background-color: rgba(0,0,0,0.1);
  }

  .sidebar-a, .sidebar-b, .sidebar-c {
    background-color: rgba(0,0,0,0.07);
    ul {
      li.active a {
        background-color: rgba(0,0,0,0.1);
      }
      li.active:before {
        border-color: transparent rgba(0,0,0,0.17) transparent transparent;
      }
    }
  }

  .sidebar-a {
    ul {
      li.active a {
        color: black;
        background-color: white;
      }
      li.active:before {
        border-color: transparent white transparent transparent;
      }
    }
  }

  .content-a, .content-b, .content-c {
    .content-header {
      border-bottom: 2px solid rgba(0,0,0,0.1);
    }
  }
}


.theme-alive {
  background: #f0f0f0 url(/images/background.gif) repeat -70% 0;
  
  .ex-modal {
    .modal-header {
      background-color: #E2D7F1;
    }
  }

  .ex-form {
    border-color: #E2D7F1;
    .panel-heading, .panel-footer {
      background-color: #E2D7F1;
      border-color: #E2D7F1;
    }
  }

  .ex-grid, .ex-form {
    table thead th {
      background-color: #E2D7F1;
    }
  }

  .ex-nav {
    background-color: #563D7C;
    border-color: #463265;

    .navbar-nav > .active > a {
      background-color: #463265 !important;
    }
  }

  .table-bordered thead th {
    background-color: #E2D7F1;
  }

  .sidebar-a, .sidebar-b, .sidebar-c {
    background-color: #F3EFFA;
    ul {
      li.active a {
        background-color: #E2D7F1;
      }
      li.active:before {
        border-color: transparent #E2D7F1 transparent transparent;
      }
    }
  }

  .sidebar-a {
    ul {
      li.active a {
        color: black;
        background-color: white;
      }
      li.active:before {
        border-color: transparent white transparent transparent;
      }
    }
  }

  .content-a, .content-b, .content-c {
    .content-header {
      border-bottom: 2px solid $ex-color-header;
    }
  }
}
