<div class="form-group col-md-12">
  <label for="fitler_<%= name %>" class="control-label">
    <%= label %>
  </label>
  <input type="text"
    class="form-control input-sm"
    id="fitler_<%= name %>"
    ng-model="filter.<%= name %>"
  />
</div>