<div class="footer">
  <span class="footer-text">
    No 85 Ring Road | South Industrial Area | P.O Box KB 583, Accra   |  Tel: 0302 664010 |  www.axoninfosystems.com | Email: info@axoninfosystems.com
  </span>
</div>