<div class="row">
  <div class="col-xs-6">
    <button class="btn btn-default btn-sm" ng-click="back()">
      <span class="fa fa-chevron-left"></span>
      Back
    </button>
  </div>
  <div class="col-xs-6">
    <div ng-if="paging.currentId" class="btn-group btn-group-sm pull-right">
      <a ng-disabled="!paging.previousId" class="btn btn-default" ui-sref=".show({id: paging.previousId})">
        <span class="fa fa-chevron-left"></span>
      </a>
      <a ng-disabled="!paging.currentId" class="btn btn-default" ui-sref=".edit({id: paging.currentId})">
        {{ paging.currentId }}
      </a>
      <a ng-disabled="!paging.nextId" class="btn btn-default" ui-sref=".show({id: paging.nextId})">
        <span class="fa fa-chevron-right"></span>
      </a>
    </div>
  </div>
</div>