<div class="search-form" ng-show="vm.action.searching">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <ui-select ng-model="vm.search.searchField">
              <ui-select-match placeholder="Select an property...">{{$select.selected.title}}</ui-select-match>
              <ui-select-choices repeat="field in vm.search.fields | filter: $select.search">
                <div ng-bind-html="field.title | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="col-md-5">
          <input ng-if="vm.search.searchField.format === 'text'"
            ng-model="vm.search.searchValue" type="text" class="form-control" />
          <div ng-if="vm.search.searchField.format === 'date'" class="form-group has-feedback"
            ng-init="vm.search.searchValue = [new Date(), new Date()]">
            <input date-range-picker class="form-control date-picker" type="text"
              ng-model="vm.search.searchValue" options="drpOptionsR" />
            <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
          </div>
          <ui-select ng-if="vm.search.searchField.format === 'select'" ng-model="vm.search.searchValue">
            <ui-select-match placeholder="{{ vm.search.searchField.placeholder}}">
              {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="item.value as item in vm.lookupData(vm.search.searchField.lookup) | filter: $select.search">
              <div ng-bind-html="item.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div ng-show="vm.search.searchField.format" class="col-md-2">
          <button class="btn btn-primary" ng-click="vm.addSearchParam()">
            <span class="fa fa-plus" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group has-feedback">
            <div class="input-group">
              <span class="input-group-addon">
                <span class="fa fa-filter"></span>
              </span>
              <input date-range-picker class="form-control date-picker" type="text" ng-model="vm.search.dateRange" options="drpOptions" />
            </div>
            <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <button class="btn btn-info" ng-click="vm.doSearch()">
              <span class="fa fa-search" aria-hidden="true"></span>
            </button>
            <div class="btn-group">
              <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Export
                <span class="fa fa-download" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="" ng-click="vm.toCSV()">to CSV</a></li>
                <li><a href="" ng-click="vm.toPDF()">to PDF</a></li>
              </ul>
            </div>
            <div class="pull-right">
              <button class="btn btn-default" ng-click="vm.hideSearch()">
                <span class="fa fa-times fa-lg" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <ol class="breadcrumb">
              <a href="" ng-click="vm.clearSearchParams()">Clear All</a> |
              <li ng-repeat="(key, value) in vm.search.queries" class="active">
                {{ value }}
                <a href="" ng-click="vm.removeSearchParam(key)">
                  <sup> <b>X</b></sup>
                </a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
