<div class="pull-left">
  <button ng-show="vm.hasDeleteAccess() && vm.isEditMode()" ng-disabled="vm.action.deleting" class="btn btn-danger btn-sm" ng-click="vm.delete(vm.formly.model.id)">
    <span class="fa fa-trash"></span>
    Delete
  </button>
</div>
<button ng-show="vm.isViewMode()" class="btn btn-default btn-sm" ng-click="vm.close()">
  <span class="glyphicon glyphicon-remove"></span>
  Close
</button>
<button ng-show="vm.hasUpdateAccess() && vm.isViewMode()" class="btn btn-info btn-sm" ng-click="vm.edit()">
  <span class="glyphicon glyphicon-pencil"></span>
  Edit
</button>
<button ng-hide="vm.isViewMode()" class="btn btn-default btn-sm" ng-click="vm.cancelEdit()">
  <span class="glyphicon glyphicon-remove"></span>
  Cancel
</button>
<button ng-show="vm.hasUpdateAccess() && vm.isEditMode()" ng-disabled="vm.action.updating" class="btn btn-info btn-sm" ng-click="vm.save()">
  <span class="glyphicon glyphicon-ok"></span>
  {{ (vm.action.updating)? "Updating..." : "Update" }}
</button>
<div class="clearfix"></div>