$main-color: #03A9F4;
$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "ng-mfb/mfb/src/mfb.scss";
// endbower

body {
  padding-top: 50px;
  font-size: 14px;
}

.form-control-static {
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 2px;
  border-bottom: 1px #E6E6E6 solid;
}

.has-feedback .form-control-feedback {
  top: 0px;
}

.ui-select-bootstrap .ui-select-choices-row > a{
  white-space: normal;
}

.ui-select-placeholder, .ui-select-match-text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 40px;
}

:focus {
  outline: 0;
}

.nav-arrow {
  color: #919191;
}

.model-container {
  margin-bottom: 100px;
}

.search-form {
  background-color: whitesmoke;
  margin-bottom: 7px;
  padding: 5px 5px 2px 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

  .breadcrumb {
    padding: 0px;
    margin-bottom: 0px;
  }

  .form-group {
    margin-bottom: 5px;
  }
}
.formly-form {
  .formly-field {
    margin-bottom: 5px;
  }

  .error-messages {
    position: relative;
  }

  .error-messages, .message {
    opacity: 1;
    transition: .3s linear all;
  }

  .message {
    font-size: .8em;
    position: absolute;
    width: 100%;
    color: #a94442;
    margin-top: 2px;
  }

  .error-messages.ng-enter.ng-enter-active,
  .message.ng-enter.ng-enter-active {
    opacity: 1;
    top: 0;
  }

  .error-messages.ng-enter,
  .message.ng-enter {
    opacity: 0;
    top: -10px;
  }

  .error-messages.ng-leave,
  .message.ng-leave {
    opacity: 1;
    top: 0;
  }

  .error-messages.ng-leave-active,
  .message.ng-leave-active {
    opacity: 0;
    top: -10px;
  }
  .formly-field-group {
    margin-left: -15px;
    margin-right: -15px;
  }
  .formly-field-ex-input, .formly-field-ex-select, .formly-field-ex-datepicker {
    .form-control {
      min-height: 38px;
      padding: 8px 8px;
    }
  }
  .formly-field-ex-select-multiple {
    input.ui-select-search {
      height: 1.666666em !important;
      margin-bottom: 0px;
    }
    .ui-select-container {
      min-height: 38px;
      padding: 4px 4px;
    }
    .ui-select-match-item {
      height: 25px;
      padding-top: 2px;
    }
  }

}

.formly-form-compact {
  .formly-field {
    .form-group {
      margin-bottom: 5px;
      label {
        margin-bottom: 1px;
      }
    }
  }
}

.formly-form-condensed {
  .panel-body {
    padding: 5px 15px;
  }
  .formly-field-ex-input, .formly-field-ex-select, .formly-field-ex-datepicker {
    .form-control {
      min-height: 30px;
      padding: 5px 5px;
    }
  }
}

.rowlink tr td:first-child, .rowlink tr td:last-child {
  vertical-align: middle;
}

.panel {
  margin-bottom: 0px !important;
}

table {
  tr.active {
    font-weight: bold;
  }

  tr.active td:last-child {
    background-color: #ddd !important;
  }
}

.navbar {
  margin-bottom: 0px;
}

#project_name {
  min-width: 130px;
}

.dropdown-menu > li > a {
  padding: 3px 15px;
}

.panel {
  border-radius: 0px;
}

.pagination, .pager {
  margin-top: 0px;
  margin-bottom: 10px;
}

.container {
  width: auto;

  .navbar-header {
    width: auto;
  }

  .navbar-nav {
    font-size: 14px;
  }
}

.ex-nav .navbar-nav > li > a:hover {
  color: #fff;
}

.grid-action-1 {
  width: 26px;
}

.grid-action-2 {
  width: 52px;
}

.grid-action-3 {
  width: 89px;
}

.sidebar {
  margin-left: -15px;
  height: 100%;
  position: fixed;
  background-color: #eee;
  overflow-y: auto;
  width: 130px;

  ul {
    text-align: center;
    margin-top: 10px;
  }
  
  ul li:last-child {
    margin-bottom: 50px;
  }
  
  ul li a {
    border-radius: 10px 0px 0px 10px;
    span {
      // color: #3F6883;
    }
  }
  
  ul li.active a {
    color: black;
    background-color: white !important;
  }
  
  .fa, .glyphicon {
    font-size: 2.5em;
  }
}

.link-icon {
  color: #3F6883;
}

.link-text {
  text-align: left;
  color: #616161;
}

.content {
  padding: 0px;
  margin-left: 130px;
  
  .content-header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 7px;
    
    h3 {
      margin-top: 15px;
    }
    
    .form-group {
      margin-top: 10px;
      margin-bottom: 0px;
    }
  }
}

.alert .glyphicon {
  color: black;
}

.table-bordered thead th {
  background-color: rgba(0, 0, 0, 0.1);
}

.schema-form-checkbox > label {
  line-height: 3.4;
  font-weight: bold;
}

.mfb-component__list {
  li:nth-child(1) a {
    background: teal;
  }

  li:nth-child(2) a {
    background: orange;
  }

  li:nth-child(3) a {
    background: cyan;
  }
}
