<button class="btn btn-default btn-sm" ng-click="close()">
  <span class="glyphicon glyphicon-remove"></span>
  Close
</button>
<button ng-show="hasUpdateAccess()" ng-disabled="action.updating" class="btn btn-info btn-sm" ng-click="save()">
  <span class="glyphicon glyphicon-ok"></span>
  {{ (action.updating)? "Updating..." : "Update" }}
</button>
<div class="pull-right">
  <button ng-show="hasDeleteAccess()" ng-disabled="action.deleting" class="btn btn-warning btn-sm" ng-click="delete(record.id)">
    <span class="fa fa-trash"></span>
    Delete
  </button>
</div>
<div class="clearfix"></div>