<form ng-submit="updatePassword(passwordUpdateForm)" role="form" ng-init="passwordUpdateForm = {}">
  <fieldset ng-disabled="!user.uid">
    <div class="form-group">
      <label>password</label>
      <input type="password" name="password" ng-model="passwordUpdateForm.password" required="required" class="form-control"/>
    </div>
    <div class="form-group">
      <label>password confirmation</label>
      <input type="password" name="password_confirmation" ng-model="passwordUpdateForm.password_confirmation" required="required" class="form-control"/>
    </div>
    <div class="pull-right">
      <button id="reg-submit" type="submit" class="btn btn-primary btn-md">Update password</button>
      <button ng-click="$hide()" class="btn btn-default btn-md">Cancel</button>
    </div>
  </fieldset>
</form>