<div class="panel panel-primary ex-form">
  <div class="panel-heading">
    <button type="button" class="close" ng-click="cancel()">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
    <h3 class="panel-title">New {{ model.display }}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <ex-form ng-model="record" columns="formColumns" lookups="lookups" no-of-cols="1">
        </ex-form>
      </div>
      <div class="col-md-6 right-box">
        <div class="" ng-controller="UserController">
          <ex-array title="Assigned Roles" ng-model="$parent.record.user_roles_attributes" columns="rCols" lookups="lookups">
          </ex-array>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-default btn-sm" ng-click="cancel()">
      <span class="glyphicon glyphicon-remove"></span>
      Cancel
    </button>
    <button class="btn btn-info btn-sm" ng-click="create()">
      <span class="glyphicon glyphicon-ok"></span>
      Save
    </button>
  </div>
</div>
