<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ schema.title }}</h3>
  </div>
  <div class="panel-body">
    <form novalidate>
      <formly-form model="record" fields="formlyFields" options="formlyOptions" form="formlyForm">
      </formly-form>
    </form>
  </div>
  <div class="panel-footer">
    <button class="btn btn-default btn-sm" ng-click="close()">
      <span class="glyphicon glyphicon-remove"></span>
      Close
    </button>
    <button ng-show="hasCreateAccess()" ng-disabled="action.creating" class="btn btn-info btn-sm" ng-click="save()">
      <span class="glyphicon glyphicon-ok"></span>
      {{ (action.creating)? "Saving..." : "Save" }}
    </button>
  </div>
</div>
