<br>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Line</h3>
      </div>
      <div class="panel-body">
        <canvas id="line" class="chart-base" chart-type="'Line'" data="data"
          labels="labels" legend="true" series="series" click="onClick" height="100">
        </canvas>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Bar</h3>
      </div>
      <div class="panel-body">
        <canvas id="line" class="chart-base" chart-type="'Bar'" data="data"
          labels="labels" legend="true" series="series" click="onClick" height="100">
        </canvas>
      </div>
    </div>
  </div>
</div>