<form class="form-horizontal" role="form">
  <% columns.each do |c| %>
    <div class="form-group col-md-6">
      <% if c[:lookup] %>
        <%= render partial: "tpl/partials/select", locals: {c: c} %>
      <% elsif template_exists? "tpl/partials/_#{c[:type]}" %>
        <%= render partial: "tpl/partials/#{c[:type]}", locals: {c: c} %>
      <% else %>
        <%= render partial: "tpl/partials/string", locals: {c: c} %>
      <% end %>
    </div>
  <% end %>
</form>