<div class="report-title">SAMPLE INFO</div>
<table style="margin-top-: 50px;" class="report-table" width="100%">
  <tr>
    <td><b>Name</b></td>
    <td><%= @data.name %></td>
  </tr>
  <tr>
    <td><b>Description</b></td>
    <td><%= @data.description %></td>
  </tr>
  <tr>
    <td><b>Status</b></td>
    <td><%= @data.sample_status.name %></td>
  </tr>
</table>