<div class="row">
  <div class="col-md-12">
    <div id="page_header" class="clearfix content-header">
      <div class="row">
        <div class="col-md-8">
          <h3 class="pull-left"> 
            <i class="glyphicon glyphicon-list"></i>
            {{ model.title }}
          </h3>
        </div>
        <div class="col-md-4 form-group hidden-sm hidden-xs">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default" aria-expanded="false">
                <span class="fa fa-search"></span>
                Quick Filter
              </button>
            </div>
            <input type="text" class="form-control" ng-model="filterText" aria-label="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-show="state.isIndex">
  <div ng-include="partials.searchForm"></div>
</div>
<div class="row">
  <div ng-hide="state.isIndex" class="col-md-8 col-md-offset-4" style="padding-bottom: 5px;">
    <div ng-include="partials.formControls"></div>
  </div>
</div>
<div class="row">
  <div ng-show="state.isIndex" class="col-md-12">
    <div ng-include="partials.indexGrid"></div>
    <div ng-include="partials.loadMoreButton"></div>
  </div>
  <div ng-hide="state.isIndex" class="col-md-4 hidden-sm hidden-xs">
    <div ng-include="partials.nameGrid"></div>
    <div ng-include="partials.loadMoreButton"></div>
  </div>
  <div ng-hide="state.isIndex" class="col-md-8 no-left">
    <div ui-view></div>
  </div>
</div>
