<form class="" role="form">
  <div ng-repeat="item in modelList">
    <div class="form-group col-md-6" ng-if="_isType(item.type)">
      <label class="control-label">
        <a href="" ng-click="removeItem($index)" class="ax-search-remove">
          <i class="glyphicon glyphicon-remove"></i>
        </a>
        {{ item._label }}
      </label>
      <div style="width: 70%" ng-if="_isText(item.type) && !item._lookup" class="input-group input-group-sm">
        <span class="input-group-addon">
          <input type="checkbox" checked ng-model="item.on">
        </span>
        <span class="input-group-addon">
          <select ng-model="item.op">
            <option value="like">%</option>
            <option value="eq">=</option>
            <option value="noteq">&lt;&gt;</option>
          </select>
        </span>
        <input type="text"
          class="form-control"
          ng-model="item.value"
        />
      </div>
      <div style="width: 40%" ng-if="_isNumber(item.type) && !item._lookup" class="input-group input-group-sm">
        <span class="input-group-addon">
          <input type="checkbox" checked ng-model="item.on">
        </span>
        <span class="input-group-addon">
          <select ng-model="item.op">
            <option value="eq">=</option>
            <option value="lt">&lt;</option>
            <option value="gt">&gt;</option>
            <option value="lteq">&lt;=</option>
            <option value="gteq">&gt;=</option>
          </select>
        </span>
        <input type="number"
          class="form-control"
          ng-model="item.value"
        />
      </div>
      <div style="width: 50%" ng-if="_isDate(item.type)" class="input-group input-group-sm">
        <span class="input-group-addon">
          <input type="checkbox" checked ng-model="item.on">
        </span>
        <span class="input-group-addon">
          <select ng-model="item.op">
            <option value="eq">=</option>
            <option value="lt">&lt;</option>
            <option value="gt">&gt;</option>
            <option value="lteq">&lt;=</option>
            <option value="gteq">&gt;=</option>
          </select>
        </span>
        <input type="text"
          datepicker-popup="dd-MMM-yy"
          class="form-control"
          show-weeks="false"
          datepicker-append-to-body="true"
          ng-model="item.value"
        />
      </div>
      <div style="width: 90%" ng-if="item._lookup" class="input-group input-group-sm select2-bootstrap-prepend">
        <span class="input-group-addon">
          <input type="checkbox" checked ng-model="item.on">
        </span>
        <span class="input-group-addon">
          <select ng-model="item.op">
            <option value="in">=</option>
            <option value="notin">&lt;&gt;</option>
          </select>
        </span>
        <select ui-select2 multiple
          class="form-control select2"
          ng-model="item.value">
          <option ng-repeat="l in item._lookup" value="{{ l.id }}"> {{ l.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-6">
    <label class="control-label">
      &nbsp;
    </label>
    <div class="input-group input-group-sm select2-bootstrap-append">
      <select ui-select2="" class="form-control" ng-model="column_name">
        <option ng-repeat="l in columns" value="{{ l.name }}"> {{ l.label || l.name }}</option>
      </select>
      <span class="input-group-btn">
        <button class="btn btn-info" ng-click="addItem()">
         <i class="glyphicon glyphicon-plus"></i><b> Add More</b>
        </button>
      </span>
    </div>
  </div>
</form>