@import "bootstrap";
@import "font-awesome";

.flat-ui {
  @import "flat-ui";

  // a {
  //   color: #16a085;
  //   text-decoration: none;
  //   -webkit-transition: 0.25s;
  //   transition: 0.25s;
  // }

  // .navbar .nav ul {
  //   left: 0px;
  //   padding-left: 1px;
  // }
}

// Color variables
$ex-color-navbar: #563D7C;
$ex-color-navbar-a: #cdbfe3;
$ex-color-header: #E2D7F1;
$ex-color-deeper: #E2D7F1;
$ex-color-sidebar: #F3EFFA;
$ex-color-arrow: white;
$ex-color-bar: #463265;

// New theme
$ex-color-navbar: rgba(47,47,47,0.98);
$ex-color-navbar-a: #999999;
$ex-color-header: rgba(0,0,0,0.1);
$ex-color-deeper: rgba(0,0,0,0.17);
$ex-color-sidebar: rgba(0,0,0,0.07);
$ex-color-arrow: rgba(0,0,0,0.07);
$ex-color-bar: rgba(39,39,39,0.98);

.login {

  .panel-body {
    padding: 5px !important;
    color: #34495E;
  }

  .panel-title {
    font-weight: bold;
  }

  .login-header {
    text-align: center;
    background-color: $ex-color-header !important;
  }

  .login-icon {
    left: 40px;
    position: absolute;
    top: 30px;
    width: 115px;
  }

  .login-screen {
    background: transparent;
    min-height: 245px;
    padding: 30px 20px 33px 156px;
  }

  .login-form {
    background: rgba(0, 0, 0, 0.07);

    legend {
      font-size: 16px;
      color: #34495E;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  .login-form:before {
    border-right-color: rgba(0, 0, 0, 0.07);
  }
}

body {
  padding-top: 50px;
  font-size: 14px;
  // background: #f0f0f0 url(/assets/background.gif) repeat -70% 0;
  background: #f0f0f0 url(/assets/background.jpg) repeat -70% 0;
}

.dropdown-menu > li > a {
  padding: 3px 15px;
}

.login-box-margin {
  margin-top: 160px;
}

.ex-modal {
  display: block;
  width:600px;
  height:300px;
  top: 120px;
  font-size: 12pt;
  overflow-y: hidden !important;

  .modal-header {
    background-color: $ex-color-header;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    
    .close {
      margin-top: -5px;
    }
    
    button {
      font-size: 30px;
    }
  }
  
  .modal-body {
    height: 100%;
    max-height: 190px;
  }

  .modal-footer {
    .btn {
      width: 100px
    }
  }
}

.modal-content {
  border: 0px;
}

.pagination, .pager {
  margin-top: 0px;
  margin-bottom: 10px;
}

.records-per-page {
  // padding-top: 0px;
}

.container {
  width: auto;

  .navbar-header {
    width: auto;
  }

  .navbar-nav {
    font-size: 14px;
  }
}

.left-box {
  padding-right: 5px;
}

.right-box {
  padding-left: 5px;
}

.ex-grid, .ex-form {
  margin-top: 10px;

  .form-control[disabled], .select2-container.select2-container-disabled .select2-choice, .select2-container.select2-container-disabled .select2-choices {
    cursor: not-allowed;
    background-color: #fafafa;
  }
}

.ex-grid {
  font-size: 12px;
  
  input[type="radio"], input[type="checkbox"] {
    margin: 0px 0 0;
  }

  .table {
    margin-bottom: 10px;
  }
}

.ex-form {
  border: 2px solid $ex-color-header;
  border-radius: 0px;

  .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .ex-array-input {
    padding-left: 20px;
    padding-right: 20px;
  }

  .has-switch {
    // margin-left: 5px;
    min-width: 70px;
    width: 70px;
  }

  .panel-heading {
    padding: 10px;
    .close {
      margin-top: -3px;
    }
  }

  .panel-heading, .panel-footer {
    background-color: $ex-color-header;
    border-color: $ex-color-header;
    color: black;
    border-radius: 0px;
  }

  .panel-body {
    padding: 10px 5px 0px 5px;
  }
  .panel-footer {
    padding: 5px 10px;
  }
}

.nav-h {
  height: 50px
}

.ex-nav {
  // text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-color: $ex-color-navbar;
  border-color: $ex-color-bar;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);

  .navbar-nav > .active > a {
    // color: #fff;
    background-color: $ex-color-bar !important;
  }
}

// .ex-nav .navbar-collapse {
//   border-color: $ex-color-bar;
// }

.ex-nav .navbar-brand {
  // color: #fff;
}

.ex-nav .navbar-nav > li > a {
  color: $ex-color-navbar-a;
}

.ex-nav .navbar-nav > li > a:hover {
  // color: #fff;
}

// .ex-nav .navbar-nav > .active > a,
// .ex-nav .navbar-nav > .active > a:hover {
//   // color: #fff;
//   background-color: $ex-color-bar !important;
// }

.ex-nav .navbar-toggle {
  // border-color: #563d7c;
}

.ex-nav .navbar-toggle:hover {
  // background-color: $ex-color-bar;
  // border-color: $ex-color-bar;
}

.grid-action-1 {
  width: 26px;
}

.grid-action-2 {
  width: 52px;
}

.grid-action-3 {
  width: 78px;
}

.table-bordered {
  // border: 2px solid $ex-color-header;
}

.table-bordered thead th {
  background-color: $ex-color-header;
  // border: 2px solid white;
}

.sidebar-a, .sidebar-b, .sidebar-c {
  margin-left: -15px;
  padding: 10px 0px 0px 0px;
  height: 100%;
  position: fixed;
  background-color: $ex-color-sidebar;

  ul {
    text-align: center;
    li a {
      border-radius: 0px;
      color: #0A3872;
    }
    
    li a span {
      color: #3F6883;
    }

    li.active a {
      color: white;
      background-color: $ex-color-header;
    }

    li.active:before {
      content: "";
      border-style: solid;
      border-width: 10px 8px 10px 0;
      border-color: transparent $ex-color-deeper transparent transparent;
      position: absolute;
      -webkit-transform: rotate(180deg);
    }
  }

}

.sidebar-a {
  padding-left: 5px;
  padding-right: 5px;
  width: 250px;

  ul {
    text-align: left;
    li a {
      border-radius: 4px;
    }

    li.active a {
      color: black;
      background-color: white;
    }

    li.active:before {
      border-color: transparent $ex-color-arrow transparent transparent;
      right: -13px;
      top: 12px;
    }
  }

  .fa, .glyphicon {
    font-size: 1.5em;
  }
}

.sidebar-b {
  width: 100px;

  ul {
    li.active:before {
      right: -8px;
      top: 34px;
    }
  }

  .fa, .glyphicon {
    font-size: 3em;
  }
}

.sidebar-c {
  width: 150px;

  ul {
    li.active:before {
      right: -8px;
      top: 22px;
    }
  }

  .fa, .glyphicon {
    font-size: 2em;
  }

  .nav > li > a {
    padding: 5px 15px;
  }
}

.content-a, .content-b, .content-c {
  padding: 0px;

  .content-header {
    border-bottom: 2px solid $ex-color-header;

    .btn, h3 {
      margin-top: 10px;
    }
  }
}

.content-a {
  margin-left: 250px;
}

.content-b {
  margin-left: 100px;
}

.content-c {
  margin-left: 150px;
}

.link-text {
  text-align: left;
}

.alert .glyphicon {
  color: black;
}

.ex-search-remove {
  color: black;
}
