<div ng-controller="AccountCtrl as vm" ng-init="vm.initRoute()">
  <div class="modal-header">
    <button type="button" class="close" ng-click="vm.close()" uib-tooltip="Close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      Account Management
    </h4>
  </div>
  <div class="modal-body">
    <div ng-show="user.password_expired_at" class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Password Expired!</strong> Please update your password to proceed. Thank you.
    </div>
    <form role="form" class="formly-form">
      <div class="row">
        <div class="form-group col-md-6 formly-field-ex-input">
          <label for="">Name</label>
          <input ng-model="vm.model.name" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6 formly-field-ex-input">
          <label for="">Email</label>
          <input ng-model="vm.model.email" ng-disabled="true" type="text" class="form-control">
        </div>
        <legend class="form-group col-md-12">Change Password</legend>
        <div class="form-group col-md-4 formly-field-ex-input">
          <label for="">Current Password</label>
          <input ng-model="vm.model.current_password" type="password" class="form-control">
        </div>
        <div class="form-group col-md-4 formly-field-ex-input">
          <label for="">New Password</label>
          <input ng-model="vm.model.password" type="password" class="form-control">
        </div>
        <div class="form-group col-md-4 formly-field-ex-input">
          <label for="">Confirm Password</label>
          <input ng-model="vm.model.password_confirmation" type="password" class="form-control">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="pull-left">
      <button ng-disabled="vm.action.deleting" class="btn btn-danger btn-sm" ng-click="vm.delete()">
        <span class="fa fa-trash"></span>
        Delete Account
      </button>
      <button ng-if="user.password_expired_at" class="btn btn-primary btn-sm" ng-click="vm.signOutUser()">
        <span class="fa fa-sign-out"></span>
        Log out
      </button>
    </div>
    <button class="btn btn-default btn-sm" ng-click="vm.reset()">
      <span class="glyphicon glyphicon-remove"></span>
      Reset
    </button>
    <button ng-disabled="vm.action.updating" class="btn btn-info btn-sm" ng-click="vm.update()">
      <span class="glyphicon glyphicon-ok"></span>
      {{ (vm.action.updating)? "Updating..." : "Update" }}
    </button>
    <div class="clearfix"></div>
  </div>
</div>
