<div class="home">
  <header>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="height: 80px;"></div>
  </header>
  <main id="main">
    <img src="images/logo.jpg" style="min-width:100%; min-height:100%;" alt="">
  </main>
  <footer id="footer" class="site-footer navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="copyright">
        <p>
          © 2016 eXRails App
          <br/>baidus.net
        </p>
      </div>
    </div>
  </footer>
</div>
