<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="project_name" class="navbar-brand nav-h" href="#/">
        eXRails App
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-class='{ active: hasUrl("#/main") }'>
          <a href="#/main">
            <span class="fa fa-home"></span>
            Main Menu
          </a>
        </li>
        <li ng-class='{ active: hasUrl("#/reports") }'>
          <a href="#/reports">
            <span class="fa fa-bar-chat"></span>
            Reports
          </a>
        </li>
        <li ng-class='{ active: hasUrl("#/setups") }'>
          <a href="#/setups">
            <span class="fa fa-cogs"></span>
            Setups
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown active">
          <a href="" class="dropdown-toggle nav-h" data-toggle="dropdown">
            <i class="fa fa-user fa-lg"></i>
            {{ user.name }}
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-inverse">
            <!-- <li><a href="">My Account</a></li> -->
            <li><a ng-click="showPasswordChange()">Change Password</a></li>
            <li class="divider"></li>
            <li><a ng-click="signOut()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="page" class="container">
  <div ui-view></div>
</div>
<div ng-controller="UiCtrl"></div>
