<div class="report-title"><%= @data.title %></div>
<table style="margin-top-: 50px;" class="report-table" width="100%">
  <tr>
    <td><b>Name</b></td>
    <td><%= @data.name %></td>
  </tr>
  <tr>
    <td><b>Email</b></td>
    <td><%= @data.email %></td>
  </tr>
  <tr>
    <td><b>Roles</b></td>
    <td><%= @data.roles.map(&:name).join(', ') %></td>
  </tr>
</table>