<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= wicked_pdf_stylesheet_link_tag "application" %>

    <script>
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>
    
    <style type="text/css">
      body {
        padding: 0px;
      }

      .page-break {
        display: block;
        clear: both;
        page-break-after: always;
      }

      .left {
        text-align: left
      }

      .right {
        text-align: right
      }

      .center {
        text-align: center
      }

      .header {
        height: 100px;
      }

      .content {
        padding-top: 5px;
      }

      .footer {
        font-size: 9px;
        text-align: center;
        border-top: dotted 1px #EC8888;
        padding-top: 5px;
      }

      .title {
        text-align: center;
        font-size: 20px;
        background-color: rgb(236, 235, 235);
        margin: 5px 0px 10px 0px;
        padding: 5px;
        font-weight: bold;
      }

      .logo {
        float: right;
      }

      .report-table {
        font-size: 12px;
      }

      .report-table th, .report-table td {
        border: 1px solid black !important;
        padding: 3px;
      }

      .report-table th {
        font-size: 14px;
      }
    </style>
  </head>
  <body onload="number_pages()" class="report">
    <div class="content">
      <%= yield %>
    </div>
    <!-- Page <span class="page"></span> of <span class="topage"></span> -->
  </body>
</html>