<div id="sidebar" class="sidebar-a">
  <ul class="nav nav-pills nav-stacked">
    <% AppTpl.modules[:admin][:links].each do |l|  %>
      <li ng-class='{ active: hasUrl("#/admin/<%= l[:url] %>") }'>
        <a href="#admin/<%= l[:url] %>">
          <span class="<%= l[:icon] || 'fa fa-briefcase' %>"></span>
          <span class="link-text"><%= l[:text] %></span>
        </a>
      </li>
    <% end %>
  </ul>
</div>
<div id="page_content" class="content-a">
  <ui-view></ui-view>
</div>